
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Install.cshtml";
}
<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Hoşgeldiniz !</h1>
        <p>Sitenizi yayınlamadan önce sizden birkaç bilgi isteyeceğiz</p>
        <p>
            @Html.ActionLink("Başlayalım " + (HttpUtility.HtmlDecode("&raquo;")),"Install","Install",null,new { @class = "btn btn-primary btn-lg" })
        </p>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Veri Tabanı Ayarları</h2>
            <p>Bloğunuzda ister MySQL Veritabanı yada MSSQL Veritabanı kullanın. Seçim size kalmış</p>
        </div>
        <div class="col-md-4">
            <h2>Dil Ayarları</h2>
            <p>Bloğunuzu birden fazla dil ekleyin, istediğiniz dilde yayınlayın</p>
        </div>
        <div class="col-md-4">
            <h2>Son Kontroller</h2>
            <p>Web Bloğunuzun sorunsuz çalışmasını sağlamak için gereken son kontroller adımı</p>
        </div>
    </div>

    <hr>

</div>