@using yA_Blog.Areas.Blog.Library
@model Kullanici
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Areas/Blog/Views/Shared/_Home_Layout.cshtml";
    ViewBag.SectionName1 = "Gönderiler";
    ViewBag.SectionName2 = "Kategoriler";
    ViewBag.Resim = "../../Areas/Blog/Uploads/matrix.jpg";
    string websiteName = CacheHelper.GetWebSiteName();
}
<article class="post">
    <div class="post-preview col-10  no-gutter">
        <h2><a href="post.html">A great story never told</a></h2>
        <p>It was a cold December morning, as I sat out on my porch I decided today was the day. </p>
        <p class="meta">
            <a href="author.html">James Reddy</a> in <a href="category.html">Storytime</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 23 minute read
        </p>
    </div>
    <div class=" col-2  no-gutter">
        <img src="/img/profile-1.jpg" class="user-icon" alt="user-image">
    </div>
</article>

@section bolum2{
    
}

@section Info
{
    <div class="primary-info">
        <h1>@websiteName</h1>
        <p>@websiteName is coming</p>
    </div>
    <div class="secondary-info">
        <p>
            <a class="btn btn-primary" href="#" style="margin-bottom: 15px" onclick="bultenKayit()"><i class="fa fa-user-plus"></i>Bültene Kayıt Olun</a>
        </p>
    </div>
    <strong id="emailResponse" class="text-success" style="display: none; font-size: 15px">Takip ettiğiniz için teşekkürler</strong>
    <strong id="loadingTakipciEmail" class="text-warning" style="display: none; font-size: 15px">yükleniyor.....</strong>

    @using (Ajax.BeginForm("TakipciKaydet", "Home", new AjaxOptions()
    {
        HttpMethod = "POST",
        OnFailure = "emailTakip_fail",
        OnSuccess = "emailTakip_success",
        LoadingElementDuration = 300,
        LoadingElementId = "loadingTakipciEmail",
    }, new {style = "margin-top:15px;display:none", id = "takipciler"}))
    {
        <div class="input-group">
            <span class="input-group-addon" style="border-color: white"><i class="fa fa-user"></i></span>
            <input id="email" style="border-color: white" type="text" class="form-control takipci" name="email" placeholder=" Email Girin">
        </div>
        <div class="input-group">
            <input type="submit" class="btn btn-default" value="Kaydet" href="#" style="float: right"/>
        </div>
    }
}
