
@{
    ViewBag.Title = "UserPasswordResetSuccess";
    Layout = "~/Areas/Blog/Views/Shared/_Activation_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12" style="margin-top:15px">
        <div class="alert alert-success text-center" role="alert">
            <h4 class="alert-heading">Şifreniz değiştirildi <span class="fa fa-smile-o"></span></h4>
            <i>@ViewBag.ResultMessage</i>

        </div>
    </div>
    <div class="col-md-12" style="margin-top:15px">
        <h1 id="redirection" class="display-4 text-center" style="font-size:2.5rem"></h1>
    </div>
</div>

@section script{
    <script>
        $(document).ready(function () {
            var counter = 5;
            $("#redirection").append("Yönlendiriliyorsunuz..."+counter);
            setInterval(function () {
                --counter;
                console.log(counter);
                $("#redirection").empty("");
                $("#redirection").append("Yönlendiriliyorsunuz..."+counter);
            }, 1000);

            setTimeout(function() {
                    window.location = "/Home/Index";
                },
                5000);
        })
    </script>
}
