<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>developer Theme | Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/css/main.css">
</head>
<body>

    <noscript>
        <div class="no-js-menu">
            <ul>
                <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
                <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
                <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
                <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
                <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>
                <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
                <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
            </ul>
        </div>
    </noscript>
    <!-- end no script -->
    <main class="container left-container">
        <div class="row">
            <div id="menu-target">
                <ul>
                    <li><i class="fa fa-home"></i><a href="index.html">Home</a></li>
                    <li><i class="fa fa-user"></i><a href="author.html">John Smith</a></li>
                    <li><i class="fa fa-anchor"></i><a href="page.html">About</a></li>
                    <li><i class="fa fa-star"></i><a href="favorites.html">Favorites</a></li>
                    <li><i class="fa fa-paper-plane"></i><a href="contact.html">Contact</a></li>
                </ul>
                <hr>
                <ul>
                    <li><i class="fa fa-file"></i><a href="post.html">Post Page</a></li>
                    <li><i class="fa fa-file"></i><a href="post-sidebar.html">Post with Sidebar</a></li>
                    <li><i class="fa fa-home"></i><a href="alt-home.html">Alternate Home</a></li>
                    <li><i class="fa fa-image"></i><a href="category.html">Category Page</a></li>
                </ul>
            </div>
            <section class="sidebar col-lg-5 col-12" style="background-image: url(../../Areas/Blog/Uploads/matrix.jpg)">
                <span class="menu-trigger animated fadeInDown">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </span>
                <div class="site-info">
                    <div class="primary-info">
                        <h1>Developer</h1>
                        <p>yuksel algorithm is coming</p>
                    </div>
                    <div class="secondary-info">
                        <p>
                            <a class="btn btn-primary" href="#"><i class="fa fa-user-plus"></i>Join Our Newsletter</a>
                        </p>
                    </div>
                </div>
            </section>

            <!-- end sidebar -->

            <section class="col-lg-7 col-12 ml-auto main-content">
                <div class="sub-nav">
                    <a href="#" class="select-posts active">Posts</a>
                    <a href="#" class="select-categories">Categories</a>
                </div>

                <div class="home-page-posts animated fadeIn ">
                    @RenderBody()
                </div>

                <!-- Home page posts -->

                <div class="home-page-categories hide animated fadeIn ">
                    <div class="category row">

                        <div class="category-preview col-6 col-sm-4  ">
                            <h2>Easy Living</h2>
                            <a href="category.html"><img src="/img/cover-2.jpg" alt="category-image"></a>
                        </div>

                    </div>
                </div>

                <footer class="split-footer">
                    <a href="post.html">About</a>
                    <i class="link-spacer"></i>
                    <a href="post.html">developer 2017</a>
                </footer>

            </section><!-- main content -->
        </div> <!--/row -->
    </main> <!-- /container -->

    @Scripts.Render("~/script/all")

</body>
</html>
