@model Haber
@{
    ViewBag.Title = "HaberEkle";
    Layout = "~/Areas/Blog/Views/Shared/_Admin_Layout.cshtml";
}

@section css{
<style>
    #sidebar .list-group {
        min-height: 220vh;
    }
</style>
}


<div class="col-md-12" style="margin-top:15px">
    <h2>Haber Ekleyin</h2>
    @{
        using (Ajax.BeginForm("HaberEkle", new AjaxOptions()
        {
            HttpMethod = "POST",
            OnBegin = "Haber_OnBegin",
            OnComplete = "Haber_Complete",
            UpdateTargetId = "haberCreate",
            InsertionMode = InsertionMode.Replace

        }))
        {
            <div id="haberCreate">
                @Html.Partial("_HaberPartialView", Model)
            </div>
            <div class="form-group">
                <a href="#"><input type="submit" id="haberCreateButton" class="btn btn-danger" value="Haberi Ekle" /></a>
            </div>

        }

    }
    <hr />
    <a class="btn btn-outline-primary" href="/Admin/Haberler" style="margin-bottom:15px">Haberler</a>
</div>

@section Script{

    <script>
        var counter = 0;
        var addedTags = new Array();
        $(document).on('click', function () {
            for (var instanceName in CKEDITOR.instances)
                CKEDITOR.instances[instanceName].updateElement();
        });

        $(document).on('click', '#TagEkleButton', function () {
            if ($("#TagEkleText").val()) {
                var newTag = $("#TagEkleText").val();
                var index = addedTags.indexOf(newTag);
                if (index === -1) {
                    addedTags[counter] = newTag;
                    counter++;
                    $("#Tags").val(addedTags);
                    $("#Taglar").append(`<li id='Tag_${counter}' class='list-group-item'>${newTag}` +
                        `<span onclick="TagSil('Tag_${counter}','${newTag}')" class='btn btn-danger btn-sm' style='float:right'>Sil</span></li>`);
                    $("#TagEkleText").val("");
                } else
                {
                    alert("bu tag' i zaten eklediniz")
                }

            } else {
                alert("hiçbir tag yazmadınız");
            }
        });

        
        function TagSil(ID,Tag)
        {
            console.log(addedTags);
            $("#"+ID).remove();
            var index = addedTags.indexOf(Tag);
            if (index > -1)
            {
                addedTags.splice(index, 1);
                $("#Tags").val(addedTags);
                counter--;
            }
        }

        function Haber_OnBegin()
        {
            $("#SuccessHaber").hide();
            counter = 0;
            addedTags = [];
            $("#LoadingHaber").show(300);
            if (CKEDITOR.instances.HaberIcerik) CKEDITOR.instances.HaberIcerik.destroy();
            $('html, body').animate({
                scrollTop: $("#kafasi").offset().top
            }, 2000);
        }

        function Haber_Complete()
        {
            $("#LoadingHaber").hide(300);
            TagleriEkle();
            window.setTimeout(function() {
                location.reload();
                },
                1500);
        }

        function TagleriEkle()
        {
            var tagler = $("#Tags").val();
            if (tagler) {
                $.each(tagler.split(','), function (index, value) {
                    var newTag = value;
                    addedTags[counter] = newTag;
                    counter++;
                    $("#Tags").val();
                    $("#Taglar").append(`<li id='Tag_${counter}' class='list-group-item'>${newTag}` +
                        `<span onclick="TagSil('Tag_${counter}','${newTag}')" class='btn btn-danger btn-sm' style='float:right'>Sil</span></li>`);
                    $("#TagEkleText").val("");
                });
            }

        }
    </script>    
}