
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Blog/Views/Shared/_Admin_Layout.cshtml";
}

<div class="col-md-12">
    <h1 class="display-4">Yuksel Algoritma Blog</h1>
    <p class="lead">Sitenizin <i>admin panel</i>'ine hoş geldiniz. Bu kısımda sitenizi dinamik olarak yeni içerikler ekleyebilir,
    varolan içerikleri günceleyebilir, siteninizi istediğiniz gibi yönetebilirsiniz</p>
    <hr class="my-4">
    <p>Yapmak istediğiniz işlemi seçin ve hemen yönetmeye başlayın</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Yardım İçin Tıklayın</a>
    </p>
</div>