@model Kullanici
@{
    ViewBag.Title = "Ana Sayfa";
    Layout = "~/Areas/Blog/Views/Shared/_Home_Layout.cshtml";
    ViewBag.SectionName1 = "Gönderiler";
    ViewBag.SectionName2 = "Katagoriler";
    ViewBag.Resim = "../../Areas/Blog/Uploads/matrix.jpg";
}
<article class="post">
    <div class="post-preview col-10  no-gutter">
        <h2><a href="post.html">A great story never told</a></h2>
        <p>It was a cold December morning, as I sat out on my porch I decided today was the day. </p>
        <p class="meta">
            <a href="author.html">James Reddy</a> in <a href="category.html">Storytime</a> <i class="link-spacer"></i> <i class="fa fa-bookmark"></i> 23 minute read
        </p>
    </div>
    <div class=" col-2  no-gutter">
        <img src="/img/profile-1.jpg" class="user-icon" alt="user-image">
    </div>
</article>

@section bolum2{
    
}