@{
    ViewBag.Title = "Profil";
    Layout = "~/Areas/Blog/Views/Shared/_Home_Layout.cshtml";

    ViewBag.SectionName1 = "Son Aktivitelerin";
    ViewBag.SectionName2 = "Sifrenizi Degistirme";
    ViewBag.SectionName3 = "Eposta Degistirme";

    ViewBag.Section1Url = "/Blog/User/Profil";
    ViewBag.Section2Url = "/Blog/User/SifreDegis";
    ViewBag.Section3Url = "/Blog/User/EpostaDegis";

    ViewBag.Resim = "../../Areas/Blog/Uploads/img/cover-3.jpg";
    var user = Session["Kullanici"] as Kullanici;
}

    <article class="post author-page">
        <div class="post-preview col-10 col-sm-9  no-gutter">
            <h2><a href="post.html">8 Reasons to quit your day job</a></h2>

            <p>Bu habere su yorumu yazdın.... Güzel Haberaa sdasdasdasd asd asd asdas dasdasdsa dasd a sdasdasd as das das.....</p>

        </div>

        <div class="col-sm-3 col-md-2 ml-auto hidden-sm hidden-xs no-gutter">
            <p class="meta author-page">
                <span class="time"><i class="fa fa-comment"></i> 12</span>
                <span class="min">yorum</span>
            </p>
        </div>
    </article>
    

@section Info
{
        <div class="primary-info">
            <h1>@(user.KullaniciAdi)</h1>
            <p>Bu kısımda bilgilerinizi güncelleyebilir, geçmis aktivelerinizi inceleyebilirsiniz.</p>
        </div>
        <div class="secondary-info">

        </div>
}

@section Scripts
{
    <script>
        $(document).ready(function () {
            sectionSwitch = false;
            openSection1();
        });
    </script>

}
